<!DOCTYPE html>
<html land="en">
<%- include('../partials/head') %>

<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
           <%- include('../partials/body') %>
           <h1><%= title %></h1>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>